.App {
  text-align: center;
}

body {
  overflow-x: hidden; /* Hide scrollbars */
  background-image: url('assets/wallpaper1.png');
  background-size: cover;
  font-family: Montserrat Medium;
}

.side_logo{
  width: 80%;
  margin: 10% 10%;
}
.side_selector{
  list-style-type: none;
  padding-left: 3rem;
  text-align: left;
  font-size: 1.5rem;
  color: white;
}
.side_selector span{
  margin-left: 1rem;
}
.side_selector li{
  margin-top: 1rem;
}
.side_select{
  cursor: pointer;
}
.side_select.acive a{
  color:#97d553;
}
.side_selector a{
  color:white;
  text-decoration: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1023px) {
  .mintSection {  
    margin: 12px;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 766px) {
  .mintImage {
    width: 40%;
  }
  .App-header a {
    margin: 0px 6px;
  }
  .App-header {
    justify-content: space-between;
  }
}